.containerProjects {
  display: flex;
  flex-direction: column;

  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Lexend Deca";
}

.containerProjects h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}

.projectsCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.projectsCards a {
  text-decoration: none;
  color: white;
}

.cardProjects {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 235px;
}

.cardProjects img {
  width: 430px;
  height: 100%;
  border-radius: 15px;
  /* border: 1px solid #1b2855fa; */
  border: 1px solid #374151;
}

.cardProjects h1 {
  font-size: 24px;
  font-weight: 500;
  color: #08ffc5;
  color: #fff;
  margin-bottom: 8px;
}

.cardProjects ul {
  display: flex;
  gap: 7px;
}

.cardProjects ul li {
  width: 100px;
  background-color: #08ffc544;
  color: #fff;
  border: 1px solid #08ffc5;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.cardProjects p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #ffffffc0;
}

.cardProjects a {
  width: 50px;
  font-weight: 300px;
  background-color: #ffffffc0;
  display: flex;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
  .containerProjects {
    height: 100%;
    margin: 50% 0;
    padding-top: 50%;
  }

  .projectsCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
