.containerProjects {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Lexend Deca";
}

.containerProjects h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}

.projectsCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.projectsCards a {
  text-decoration: none;
  color: white;
}

.cardProjects {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 235px;
}

.cardProjects img {
  width: 45%;
  height: 100%;
  border-radius: 15px;
  /* border: 1px solid #202f66fa; */
  border: 1px solid #4b5461;
}

.cardProjects div {
  width: 45%;
}

.cardProjects h1 {
  font-size: 24px;
  font-weight: 600;
  color: #08ffc5;
  /* color: #fff; */
  margin-bottom: 20px;
  line-height: 1;
}

.cardProjects ul {
  display: flex;
  gap: 7px;
}

.cardProjects ul li {
  width: 80px;
  /* background-color: #08ffc544; */
  background-color: #ffffff2a;
  color: #fff;
  /* border: 1px solid #fff; */
  border-radius: 20px;
  text-align: center;
  font-size: 12.5px;
  font-weight: 300;
  margin-bottom: 20px;
}

.cardProjects p {
  font-size: 15px;
  font-weight: 300;
  color: #ffffffc0;
  margin-bottom: 10px;
}

.cardProjects a {
  width: 100px;
  padding: 4px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300px;
  font-size: 14px;
  background-color: #08ffc533;
  border: #08ffc5 1px solid;
}

.cardProjects a:hover {
  border: #08ffc500 1px solid;
}

.cardProjects a img {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
  margin-right: 5px;
  filter: invert(90%) sepia(94%) saturate(30%) hue-rotate(197deg)
    brightness(107%) contrast(100%);
}

@media screen and (max-width: 392px) {
  .containerProjects {
    /* width: 100%; */
    height: auto;
    margin: 0px 0px 0px 15px;
  }

  .title {
    width: 300px;
  }

  .projectsCards {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardProjects {
    width: 360px;
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    height: auto;
  }

  .cardProjects img {
    width: 100%;
  }

  .cardProjects div {
    width: 100%;
  }
}
