.containerSkills {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
  font-family: "Lexend Deca";

  /* background-color: aqua; */
}

.containerSkills h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
}

.infoSkills img {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.infoSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff0e;
  border: 1px solid #4b546100;
  border-radius: 10px;
  /* margin: 5px; */
  padding: 7px;
}

.infoSkills:hover {
  background-color: #ffffff2f;
  border: 1px solid #ffffff75;
  transition: 0.7s ease;
  cursor: default;
}

.infoSkills span {
  color: #fff;
}

@media screen and (max-width: 380px) {
  .containerSkills {
    /* background-color: #fff; */
    width: 375px;
    margin: 0px 30px 0px 15px;
    padding-right: 10px;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
}
