.containerAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Lexend Deca";
}

.infoAbout {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.infoAbout h1 {
  font-size: 4.5em;
  font-weight: 600;
  color: white;
}

.infoAbout h2 {
  font-size: 3em;
  font-weight: 600;
  color: white;
}

.infoAbout h2 span {
  background: -webkit-linear-gradient(#ffc300, #d35400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infoAbout h3 {
  background: -webkit-linear-gradient(#ffc300, #d35400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6em;
  font-weight: 500;
}

.buttonsAbout {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 20px;
}

.buttonsAbout a {
  text-decoration: none;
  padding-right: 20px;
}

.buttonsAbout a img {
  width: 25px;
  height: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg)
    brightness(105%) contrast(102%);
}

.buttonsAbout a img:hover {
  filter: invert(78%) sepia(76%) saturate(4795%) hue-rotate(3deg)
    brightness(103%) contrast(107%);
  transform: scale(1.2);
  transition: 20ms;
}

.imageAbout {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d35400; */
}

.imageAbout figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#d35400 0%, #ffc300 100%);
  border-radius: 5%;
  width: 100%;
  height: 310px;
}

.imageAbout img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 300px;
  border-radius: 5%;
}

@media screen and (min-width: 740px) and (max-width: 940px) {
  .containerAbout {
    margin-left: 0;
    margin-right: 8%;
  }

  .infoAbout {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .infoAbout h1 {
    font-size: 2.8em;
    font-weight: 600;
    color: white;
  }

  .infoAbout h2 {
    font-size: 2.2em;
    font-weight: 600;
    color: white;
  }

  .infoAbout h3 {
    font-size: 1.5em;
  }

  .buttonsAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .imageAbout {
    height: 45%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageAbout figure {
    width: 100%;
    height: 300px;
  }

  .imageAbout img {
    width: 96%;
    height: 290px;
    margin: 0;
  }
}

@media screen and (min-width: 376px) and (max-width: 739px) {
  .containerAbout {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10%;
  }

  .infoAbout {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .infoAbout h1 {
    font-size: 2.2em;
    font-weight: 600;
    color: white;
  }

  .infoAbout h2 {
    font-size: 2em;
    font-weight: 600;
    color: white;
  }

  .infoAbout h3 {
    font-size: 1.2em;
  }

  .buttonsAbout {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    width: auto;
  }

  .imageAbout {
    width: 50%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageAbout figure {
    width: 100%;
    height: 210px;
  }

  .imageAbout img {
    width: 96%;
    height: 200px;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .containerAbout {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10%;
  }

  .infoAbout {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .infoAbout h1 {
    font-size: 2em;
    font-weight: 600;
    color: white;
  }

  .infoAbout h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: white;
  }

  .infoAbout h3 {
    font-size: 1.1em;
  }

  .buttonsAbout {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    width: auto;
  }

  .imageAbout {
    width: 50%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageAbout figure {
    width: 100%;
    height: 210px;
  }

  .imageAbout img {
    width: 96%;
    height: 200px;
    margin: 0;
  }
}
