footer {
  margin: 2% 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span {
  font-family: "Lexend Deca";
  font-weight: 300;
  color: #ffffff;
}

footer a {
  margin-left: 5px;
  margin-right: 5px;
}

footer a:hover {
  border-bottom: 1px solid #fff;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg)
    brightness(105%) contrast(102%);
}

@media screen and (max-width: 400px) {
  footer {
    width: 364px;
    height: 80px;
    margin: 10px 0px 0px 15px;
  }

  footer span {
    font-size: 14px;
    text-wrap: balance;
  }

  footer img {
    width: 25px;
    height: 20px;
  }
}
