.containerAboutMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 11%;
  font-family: "Lexend Deca";
}

.containerAboutMe h5 {
  color: rgba(255, 255, 255, 0.473);
  font-weight: 300;
  font-size: 1em;
}

.containerAboutMe h1 {
  /* padding-bottom: 30px; */
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 2.2em;
  margin-bottom: 80px;
}

.aboutMeInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.aboutMeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 50vw;
  height: 20vh;
  background-color: rgba(128, 128, 128, 0.247);
}

.aboutMeSection img {
  width: 35px;
  height: 35px;
  filter: invert(78%) sepia(76%) saturate(4795%) hue-rotate(3deg)
    brightness(103%) contrast(107%);
}

.aboutMeSection h2 {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.aboutMeSection p {
  color: white;
  font-weight: 300;
  font-size: 1em;
}

.aboutMeText {
  margin-top: 40px;
  width: 100%;
}

.aboutMeText p {
  color: white;
  font-size: 1em;
  font-weight: 300;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
  .containerAboutMe {
    height: 100%;
    padding-top: 41%;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: aqua; */
  }

  .aboutMeInfo {
    display: flex;
    flex-direction: column;
  }

  .aboutMeSection {
    width: 100%;
  }

  .aboutMeSection p {
    color: white;
    font-weight: 300;
    font-size: 0.9em;
  }
}
