.containerProjects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10%;
  font-family: "Lexend Deca";
  /* background-color: #da870a; */
}

.containerProjects h5 {
  color: rgba(255, 255, 255, 0.473);
  font-weight: 300;
  font-size: 1em;
}

.containerProjects h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 2.2em;
  margin-bottom: 50px;
}

.projectsCards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.projectsCards a {
  text-decoration: none;
  color: white;
}

.projectsCards a:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.cardProjects {
  width: 303px;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(255, 255, 255, 0.308);
}

.cardProjects img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
}

.cardProjects div {
  padding: 10px;
}

.cardProjects h3 {
  font-size: 1.4em;
  font-weight: 400;
  color: #da870a;
}

.cardProjects p {
  font-size: 0.95em;
  font-weight: 300;
  /* color: #000814; */
  /* background-color: #da870a; */
}
