@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #121213; */
  /* background: #071a2b; */
  background: #0c1123;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  /* background: #08ffc559; */
  background: linear-gradient(#ffffff2d, #08ffc59d);
  /* border-radius: 5px; */
}
