@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #09090b;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffc40085, #d3540079);
  border-radius: 5px;
}
